.game-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  > .game-content-wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    > * {
      display: inherit;
      justify-content: inherit;
      padding: 7%;
    }

    > .game-introduction-wrapper {
      height: 100vh;
      align-items: center;
      flex-direction: column;
      text-align: center;
      > .game-introduction-text-wrapper {
        display: inherit;
        flex-direction: column;
        align-items: center;
        > h1 {
          font-size: calc(1rem + 1.5vw);
          color: white;
        }
        > h2 {
          color: rgb(187 8 22 / 96%);
          font-size: calc(1rem + 1vw);
        }
      }
      > .game-introduction-buttons-wrapper {
        display: inherit;
        flex-direction: row;
        gap: 40px;
        cursor: pointer;
        > .game-button {
          color: white;
          &:hover {
            color: #a22b1c;
          }
        }
      }
    }

    > .game_highlight_games_wrapper {
      display: inherit;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      text-align: -webkit-center;
      background-color: rgba(18,15,17,0.45);
      > h1 {
        color: white;
        font-size: calc(1rem + 1.5vw);
      }
      > .game-highlight-games-cards-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .game-highlight-game-card {
        display: inherit;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .game-highlight-game-card-title {
          color: white;
        }
        .game-highlight-game-card-description {
          color: white;
        }
        .game-highlight-game-card-button {
          background-color: #430202;
          border: none;
          width: 15vh;
          margin: 10px;
          &:hover {
            background-color: #a22b1c;
          }
        }
        }
      }
    }

    > .game-table-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      //background-image: url('../../../../assets/img/general-background-7.jpg');
      background-color: rgba(30,15,20,0.3);

      > .game-form-wrapper {
        > .filter-buttons-wrapper {
          display: flex;
          flex-direction: row;
          gap: 20px;

          > #game-submit-button {
            border-color: #430202;
            width: 20vh;

            &:hover {
              background-color: #a22b1c;
            }
          }

          > #game-reset-button {
            border-color: #430202;
            background-color: #430202;
            width: 15vh;

            &:hover {
              background-color: #a22b1c;
            }
          }
        }
      }

      > .filter-icon-wrapper {
        cursor: pointer;
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        > fa-icon {
          color: #430202;

          &:hover {
            color: #a22b1c;
          }
        }
      }

      > .cards-data-table-wrapper {
        display: inherit;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        > .cards-filtered-wrapper {
          display: inherit;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 30px;

          > .card-wrapper {
            flex-basis: 30%;
            flex-shrink: 0;
            display: flex;

            > .card {
              display: flex;
              flex-direction: row;
              background-color: transparent;

              > .card-body {
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;

                > .btn {
                  background-color: #430202;
                  border: none;
                  width: 15vh;

                  &:hover {
                    background-color: #a22b1c;
                  }
                }
              }

              & img {
                width: 13vh;
                height: 13vh;
              }
            }
          }
        }
      }

      > .game-paginator-wrapper {
        > .pagination {

          .page-link.active, .active > .page-link {
            background-color: #430202;
            border-color: #430202;
          }

          .page-link.disabled, .disabled > .page-link {
            color: gray;
            cursor: not-allowed;
          }

          .page-link {
            color: black;
            cursor: pointer;

            &:hover {
              color: #a22b1c;
            }

          }
        }
      }

    }
  }
}
