<div class='game-main-wrapper' appScrollManager>
  <div class='game-content-wrapper'>
    <section class='game-introduction-wrapper'>
      <div class='game-introduction-text-wrapper'>
        <h2>{{ "game_title" | translate }}</h2>
        <h1>{{ "game_subtitle" | translate }}</h1>
      </div>
      <div class='game-introduction-buttons-wrapper fa-3x'>
        <a class='introduction-button' appScrollAnchor='game-table' (mouseenter)='playHoverSound();'>
          <div class='fa-beat-fade'>
            <fa-icon [icon]='arrow'></fa-icon>
          </div>
        </a>
      </div>
    </section>
    <section class='game_highlight_games_wrapper' appScrollSection='game-table'>
      <div class='game-highlight-games-title-wrapper'>
        <h1>{{ "game_highlight_games_title" | translate }}</h1>
      </div>
      <div class='game-highlight-games-cards-wrapper'>
        <div class='game-highlight-card-wrapper'>
          <div id='carouselAutoplaying' class='carousel slide w-100 carousel-fade' data-bs-ride='carousel'>
            <div class='carousel-inner'>
              <div *ngFor='let hG of this.highlightGames; let index = index'
                   class='carousel-item game-highlight-game-card'
                   [ngClass]="{ 'active': index == 0 }"
                   data-bs-interval='50000'
              >
                <div class='hover-clickable-area'
                     (mouseenter)='playVideo(hG.id + "video", hG.video)'
                     (mouseleave)='pauseVideo(hG.id + "video", hG.video)'>
                </div>
                <div class='overlay top'></div>
                <img
                  [@fadeInOut]='isVideoPlaying(hG.id + "video", hG.video) ? "hidden" : "shown"'
                  [src]='hG.image'
                  class='d-block w-100'
                  alt='No image found!'>
                <video
                  [@fadeInOut]='isVideoPlaying(hG.id + "video", hG.video) ? "shown" : "hidden"'
                  [style]='isVideoPlaying(hG.id + "video", hG.video) ? "z-index: 5" : "z-index: -1"'
                  class='game-highlight-game-card-video'
                  [muted]='true'
                  loop
                  [id]='hG.id + "video"'
                >
                  <source [src]='hG.video' type='video/mp4'>
                </video>
                <div class='overlay bottom'></div>
                <div class='carousel-caption d-none d-md-block'>
                  <h1 *ngIf='hG.title' class='game-highlight-game-card-title'>{{ hG.title }}</h1>
                  <h4 *ngIf='hG.description' class='game-highlight-game-card-description'>{{ hG.description }}</h4>
                  <a *ngIf='hG.link' class='btn btn-danger game-highlight-game-card-button' [href]='hG.link'
                     (mouseenter)='playHoverSound();'>{{ "game_highlight_games_link_button" | translate }}</a>
                  <a *ngIf='hG.source' class='btn btn-danger game-highlight-game-card-button' [href]='hG.source'
                     (mouseenter)='playHoverSound();'>{{ "game_highlight_games_source_button" | translate }}</a>
                </div>
              </div>
            </div>
            <button class='carousel-control-prev' type='button' data-bs-target='#carouselAutoplaying'
                    data-bs-slide='prev'>
              <span class='carousel-control-prev-icon' aria-hidden='true'></span>
              <span class='visually-hidden'>Previous</span>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#carouselAutoplaying'
                    data-bs-slide='next'>
              <span class='carousel-control-next-icon' aria-hidden='true'></span>
              <span class='visually-hidden'>Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class='game-table-wrapper'>

      <div *ngIf='loading' class='loading-window'>
        <div class='alert alert-info lead text-center'>
          <i class='fa fa-fw fa-spinner fa-pulse' aria-hidden='true'></i>
          {{ "game_loading" | translate }}
        </div>
      </div>

      <div class='filter-icon-wrapper fa-2x' (click)='showFilters()'>
        <h4>{{ "game_filter_title" | translate }}</h4>
        <fa-icon [icon]='filterIcon' (mouseenter)='playHoverSound();'></fa-icon>
      </div>

      <form *ngIf='showFilter' [formGroup]='form' (ngSubmit)='onSubmit()' class='game-form-wrapper'>
        <div class='row'>

          <div class='form-group mb-3 col-12 col-md-2'>
            <label for='name' class='form-label'>{{ "game_filter_name" | translate }}</label>
            <input type='text' formControlName='name' class='form-control' id='name'
                   placeholder='Escribe el nombre del juego' />
          </div>

          <div class='form-group mb-3 col-12 col-md-4'>
            <label for='description' class='form-label'>{{ "game_filter_description" | translate }}</label>
            <input type='text' formControlName='description' class='form-control'
                   id='description' placeholder='Descripción'>
          </div>
        </div>

        <div class='filter-buttons-wrapper'>
          <button type='submit' class='btn btn-outline-danger' id='game-submit-button'
                  (mouseenter)='playHoverSound();'>{{ "game_filter_search" | translate }}
          </button>
          <button type='button' (click)='onReset()' class='btn btn-danger' id='game-reset-button'
                  (mouseenter)='playHoverSound();'>
            {{ "game_filter_reset" | translate }}
          </button>
        </div>
      </form>

      <div *ngIf='gamePage.content.length === 0 && submitted' class='alert alert-secondary' role='alert'>
        {{ "game_filter_no_results" | translate }}
      </div>

      <div *ngIf='gamePage.content.length > 0 && submitted' class='cards-data-table-wrapper'>

        <h4>{{ "game_results_title" | translate }}</h4>

        <div class='cards-filtered-wrapper'>
          <div *ngFor='let game of gamePage.content' class='card-wrapper'>
            <div class='card border rounded overflow-hidden mb-4 shadow-sm h-md-250'>
              <div class='card-body p-4'>
                <h3 class='mb-0'>{{ game.name }}</h3>
                <p class='card-text mb-auto'>{{ game.description }}</p>
                <a [href]='game.link' class='btn btn-danger' target='_blank'
                   (mouseenter)='playHoverSound();'>{{ "game_results_button_source" | translate }}</a>
              </div>
              <div class='p-4'>
                <img [src]='game.image' alt='No image found!'>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav *ngIf='gamePage.content.length > 0' class='game-paginator-wrapper'>
        <ul class='pagination'>
          <li id='prev' class='page-item' [ngClass]="{ 'disabled': options.page < 1 }">
            <a class='page-link' (click)='prev()'
               (mouseenter)='playHoverSound();'>{{ "game_results_pagination_prev" | translate }}</a>
          </li>
          <ng-container *ngIf='gamePage.content'>
            <li class='page-item' *ngFor='let number of arrayFromMaxNumber(gamePage.filteredPages)'
                [ngClass]="{ 'active': options.page === number }">
              <a class='page-link' (click)='to(number)' (mouseenter)='playHoverSound();'>{{ number }}</a>
            </li>
          </ng-container>
          <li id='next' class='page-item' [ngClass]="{ 'disabled': options.page >= gamePage.filteredPages - 1}">
            <a class='page-link' (click)='next()' disabled='true'
               (mouseenter)='playHoverSound();'>{{ "game_results_pagination_next" | translate }}</a>
          </li>
        </ul>
      </nav>

    </section>
  </div>

  <audio #hoverSound src='assets/audio/click_003.ogg'></audio>
</div>
