.game-main-wrapper {
  display: flex;
  flex-direction: column;

  > .game-content-wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    > * {
      display: inherit;
      justify-content: inherit;
      padding: 10em;
    }

    > .game-table-wrapper {
      height: 100vh;
      flex-direction: column;
    }
  }
}
