.header-wrapper {
  display: inherit;
  flex-direction: column;
  position: fixed;
  height: 100%;
  > * {
    display: inherit;
  }
}

.home-main-wrapper {
  display: flex;
  flex-direction: row;
  > .home-content-wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    > * {
      display: inherit;
      justify-content: inherit;
      padding: 40px;
    }
    > .home-introduction-wrapper {
      height: 100vh;
      align-items: center;
      flex-direction: column;
      > .home-introduction-buttons-wrapper {
        display: inherit;
        flex-direction: row;
        gap: 40px;
        > .introduction-button {
          color: white;
          > &:hover {
            color: red;
          }
        }
      }
    }
    > .home-presentation-wrapper {
      background-image: url('/assets/img/general-background-5.jpg');
      flex-direction: column;
      background-position: center;
      > & > ul > li {
        > .badge {
          margin-left: 5px;
        }
      }
    }
    > .home-education-wrapper {
      flex-direction: column;
      background-image: url('/assets/img/general-background-6.jpg');
      background-size: cover;
      background-position: center;
      background-color: black;
      align-items: center;
      > .education-card-wrapper {
        padding-top: 20px;
        display: flex;
        gap: 45px;
        justify-content: inherit;
        flex-wrap: wrap;
        flex-direction: row;
        > .card {
          border: none;
          --bs-card-bg: transparent !important;
          > .card-img-top {
            height: 40%;
          }
          > .card-body {
            display: flex;
            flex-direction: column;
          }
        }
      }

    }
    > .home-experience-wrapper {
      background-color: gray;
      flex-direction: column;
      align-items: center;
      background-image: url('/assets/img/general-background-7.jpg');
      background-size: cover;
      //background-position: center;
      > .experience-card-wrapper {
        padding-top: 50px;
        display: flex;
        flex-direction: inherit;
        flex-wrap: wrap;
        margin-bottom: -40px;
        width: 30%;

        > .card {
          border: none;
          --bs-card-bg: transparent !important;
          position: relative;
          margin-bottom: 4vh;
          width: 100%;
          align-items: center;

          > .card-img-top {
            height: 40%;
            width: 45%;
          }

          > .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &::before {
            content: '';
            position: absolute;
            top: -4rem;
            bottom: 105%;
            left: 50%;
            width: 1px;
            background-color: #ccc;
          }
          &:first-child::before {
            display: none;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


