.home-main-wrapper {
  display: flex;
  flex-direction: row;
  > .home-content-wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    > * {
      display: inherit;
      justify-content: inherit;
    }
  }
}


