.header-wrapper {
  display: inherit;
  flex-direction: column;
  position: fixed;
  height: 100%;
  > * {
    display: inherit;
  }
}

.home-main-wrapper {
  display: flex;
  flex-direction: row;
  > .home-content-wrapper {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    > * {
      display: inherit;
      justify-content: inherit;
      padding: 40px;
    }
    > .home-introduction-wrapper {
      height: 100vh;
    }
    > .home-presentation-wrapper {
      background-color: gray;
      flex-direction: column;
    }
    > .home-education-wrapper {
      background-color: black;
      gap: 20px;
      flex-wrap: wrap;
      > .card {
        border: none;
        --bs-card-bg: transparent !important;
      }
    }
    > .home-experience-wrapper {
      background-color: gray;
    }
  }

}


