<app-header></app-header>
<div class='home-wrapper'>

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-25" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-25" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-25" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
