<app-header class='header-wrapper' [mouseHoverWrapper]='mouseHoverWrapper'
            (mouseenter)='onMouseHoverWrapper()'
            (mouseleave)='onMouseLeaveWrapper()'></app-header>
<div class='home-main-wrapper'>
  <div class='home-content-wrapper'>
    <section class='home-introduction-wrapper' id='home-introduction-id' #homeintroduction>
      <h1>Bienvenido!</h1>
      <h1>Soy Sergio! (Kolman-Freecss)</h1>
      <p>
        Aquí podrás ver mis proyectos y contactar conmigo a través de mis RRSS.
      </p>
      <div class='home-introduction-buttons-wrapper fa-3x'>
        <a [routerLink]="github" target='_blank' class='introduction-button'>
          <div [@rotateAnimation]="animationGithubState" class='fa-beat-fade' (mouseenter)='toggleGithubHover()'>
            <fa-icon [icon]="githubIcon" ></fa-icon>
          </div>
        </a>
        <a [routerLink]="linkedin" target='_blank' class='introduction-button'>
          <div [@rotateAnimation]="animationLinkedinState" class='fa-beat-fade' (mouseenter)='toggleLinkedinHover()'>
            <fa-icon [icon]=linkedinIcon ></fa-icon>
          </div>
        </a>
      </div>
    </section>
    <section class='home-presentation-wrapper' id='home-presentation-id'>
      <h1>¡Hola! Soy Sergio</h1>
      <p>
        Bienvenido a mi página web! Aquí podrás ver mis proyectos y contactar conmigo a través de mis RRSS como <a [routerLink]='game'>LinkedIn</a>.
      </p>
      <p>
        Soy Ingeniero informático con más de 5 años trabajando profesionalmente en proyectos web y muchos más en proyectos personales, además de tener una especial afinidad por construir y desarrollar videojuegos.
      </p>
      <p>
      En la sección de <a [routerLink]='game'>games</a> puedes encontrar mis proyectos.
      </p>
    </section>
    <section class='home-education-wrapper' id='home-education-id'>
      <h1>Formación</h1>
      <div class='education-card-wrapper'>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/logo_marianao.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/logo-uoc.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/thecoreschool.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/e-learning.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </section>
    <section class='home-experience-wrapper' id='home-experience-id'>
      <h1>Experiencia</h1>
      <p>Hola Ves al apartado de <a [routerLink]='game'>juegos</a> para ver mis proyectos relacionados.</p>
      <div class='experience-card-wrapper'>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/logo_marianao.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/logo-uoc.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/thecoreschool.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="assets/img/e-learning.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
