* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Courier New", serif;
}

.big-boss-wrapper {
  height: 100%;
  width: 100%;
  > .background-wrapper {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 0;
  }
  > .mother-wrapper {
    background-color: rgba(5,5,10,0.94);
    display: flex;
    flex-flow: row wrap;
    > .parent-wrapper {
      display: flex;
      width: 100vw;
      z-index: 1;

      > * {
        flex-grow: 1;
        min-height: 100vh;
      }
    }

    > .wrapper-footer {
      flex-grow: 1;
    }
  }
}


