@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700,700i');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.big-boss-wrapper {
  height: 100%;
  width: 100%;
  > .background-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  > .mother-wrapper {
    background-color: rgba(5,5,10,0.94);
    display: flex;
    flex-flow: row wrap;
    > .parent-wrapper {
      display: flex;
      width: 100%;
      z-index: 1;

      > * {
        flex-grow: 1;
        min-height: 100vh;
      }
    }

    > .wrapper-footer {
      flex-grow: 1;
      z-index: 1;
      background-color: rgba(10,15,15,0.6);
    }
  }
}


