<div class='main-wrapper'>
  <audio id='audio_id'
         autoplay
         loop>
    <source src='assets/audio/BackgroundLvl1.wav' type='audio/mpeg'>
  </audio>
  <div *ngIf='isCarouselBackground()' id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor='let image of imagesBackground; let index = index' class="carousel-item" [ngClass]="{ 'active': index == 0 }">
        <img [src]='image' class="d-block w-100" alt="Background image">
      </div>
    </div>
  </div>
  <div *ngIf='isImageBackground()'>
    <img src="assets/img/Logo_Krodun.png" class="d-block w-100" alt="...">
  </div>
  <div *ngIf='isVideoBackground()' id='video_wrapper'>
    <video autoplay
           [muted]='true'
           loop
           id='video_id'
          #video_element>
      <source src='assets/video/GameplayPresentacionCompressed.mp4' type='video/mp4'>
    </video>
  </div>
</div>
