<div class='container-wrapper'>
  <div class="fa-3x icons-wrapper">
    <a [href]='linkedin' target='_blank' (mouseenter)='playHoverSound();'>
      <i class="fa-brands fa-linkedin-in fa-anim-hover"></i>
    </a>
    <a [href]='github' target='_blank' (mouseenter)='playHoverSound();'>
      <i class="fa-brands fa-github fa-anim-hover"></i>
    </a>
    <a [href]='youtube' target='_blank' (mouseenter)='playHoverSound();'>
      <i class="fa-brands fa-youtube fa-anim-hover"></i>
    </a>
    <a [href]='itch' target='_blank' (mouseenter)='playHoverSound();'>
      <i class="fa-brands fa-itch-io fa-anim-hover"></i>
    </a>
  </div>
  <p>Sergio Martínez Román © 2023 Copyright. {{ "footer_rights" | translate}}.</p>
  <audio #hoverSound src='assets/audio/click_003.ogg'></audio>
</div>
