
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<p>footer works!</p>
<div class="fa-3x">
  <i class="fa-solid fa-triangle-exclamation fa-fade"></i>
  <i class="fa-solid fa-skull-crossbones fa-fade"></i>
  <i class="fa-solid fa-desktop-arrow-down fa-fade"></i>
  <i class="fa-solid fa-i-cursor fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;" ></i>
</div>

Sergio Martínez Román © 2023 Copyright. Todos los derechos reservados.
