.main-wrapper {
  height: 100%;
  position: fixed;
  flex-grow: 1;
  display: flex;
  width: 100%;
  > #video_wrapper{
    > #video_id {
      opacity: 0.8;
      filter: brightness(0.8);
    }
  }
  > #carouselAutoplaying {
    width: 100%;
    > .carousel-inner {
      height: 100%;
      > .carousel-item {
        height: 100%;
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
