<div class='main-wrapper'>
  <div *ngIf='isCarouselBackground()' id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/Logo_Krodun.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div *ngIf='isImageBackground()'>
    <img src="assets/img/Logo_Krodun.png" class="d-block w-100" alt="...">
  </div>
</div>
