.bg-body-tertiary {
  background-color: transparent !important;
}

.sticky-top {
  top: 40%;
}

.navbar-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  > .navbar {
    display: grid;
    justify-content: flex-start;
    > .navbar-brand {
      font-size: 2vh;
      opacity: 60%;
      color: white;
      cursor: pointer;
      > &:hover {
        opacity: 100%;
      }
    }
  }
}

.hide-header-wrapper {
  pointer-events: none;
  &.navbar-wrapper .navbar a {
    color: transparent;
  }
}

.show-header-wrapper {
  pointer-events: auto;
  &.navbar-wrapper .navbar a  {
    color: white;
  }
}
