.bg-body-tertiary {
  background-color: transparent !important;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  > .navbar {
    flex-direction: column;
    > .navbar-brand {
      font-size: 2vh;
      opacity: 60%;
      color: white;
      > &:hover {
        opacity: 100%;
      }
    }
  }
}
