<nav class="navbar fixed-top">
  <div class="container-fluid fa-2x">
    <img src="assets/img/Logo_Krodun.png" class="card-img-top" alt="...">
      <a *ngIf='isGames()' [routerLink]="home">
        <div [@rotateAnimation]="animationState" class='fa-beat-fade' (mouseenter)='toggleHover()'>
          <fa-icon [icon]="homeIcon" ></fa-icon>
        </div>
      </a>
      <a *ngIf='isHome()' [routerLink]="games">
        <div [@rotateAnimation]="animationState" class='fa-beat-fade' (mouseenter)='toggleHover()'>
          <fa-icon [icon]="gameIcon" ></fa-icon>
        </div>
      </a>
    <img src="assets/img/Logo_Krodun.png" class="card-img-top" alt="...">
  </div>

  <audio #hoverSound src='assets/audio/click_003.ogg'></audio>
</nav>
