.container-fluid {
  > .card-img-top {
    width: 65px;
  }
}

.navbar {
  align-items: flex-start;
  > .container-fluid {
    justify-content: space-between;
  }
}

.fixed-top {
  position: fixed;
}

.fa-beat-fade {
  color: white;
  > &:hover {
    color: red;
    //transition: 0.9s;
    //-webkit-transform: rotateZ(720deg);
    //-moz-transform: rotateZ(720deg);
    //transform: rotateZ(720deg);
  }
}

.fa-icon {
  animation: rotateAnimation infinite;
}
