.container-fluid {
  > .card-img-top {
    width: 65px;
  }
}

.navbar {
  display: flex;
  align-items: flex-start;
  > .container-fluid {
    justify-content: space-between;
    #tabs-wrapper {
      display: flex;
      justify-content: center;
      > a {
        margin-right: 10px;
        margin-left: 10px;
      }
      > div {
        align-self: center;
      }
      > .hidden {
        visibility: hidden;
      }
    }
    #languages-wrapper {
      display: flex;
      justify-content: flex-end;
      > div {
        margin-right: 30%;
      }
      .selected {
        > img {
          opacity: 1 !important;
        }
      }
    }
  }
}

.fixed-top {
  position: fixed;
}

.fa-beat-fade {
  color: white;
  &:hover {
    color: #a22b1c;
    //transition: 0.9s;
    //-webkit-transform: rotateZ(720deg);
    //-moz-transform: rotateZ(720deg);
    //transform: rotateZ(720deg);
  }
}

.fa-icon {
  animation: rotateAnimation infinite;
}

.card-lang-top {
  width: 48px;
  height: 48px;
  opacity: 0.3;
  &:hover {
    transform: scale(1.2);
    opacity: 0.6;
    cursor: pointer;
  }
}
