<nav class="navbar fixed-top">
  <div class="container-fluid fa-2x">
    <img src="assets/img/Logo_Krodun.png" class="card-img-top" alt="...">
    <div id='tabs-wrapper'>
      <div [ngClass]="{'hidden': !isGames()}" class='game-introduction-buttons-wrapper fa-xs'>
        <div class='fa-beat-fade' (mouseenter)='playHoverSound();'>
          <fa-icon [icon]='arrowLeft'></fa-icon>
        </div>
      </div>
      <a *ngIf='isGames()' [routerLink]="home">
        <div [@rotateAnimation]="animationState" class='fa-beat-fade fa-lg' (mouseenter)='toggleHover()'>
          <fa-icon [icon]="homeIcon" ></fa-icon>
        </div>
      </a>
      <a *ngIf='isHome()' [routerLink]="games">
        <div [@rotateAnimation]="animationState" class='fa-beat-fade fa-lg' (mouseenter)='toggleHover()'>
          <fa-icon [icon]="gameIcon" ></fa-icon>
        </div>
      </a>
      <div [ngClass]="{'hidden': !isHome()}" class='game-introduction-buttons-wrapper fa-xs'>
        <div class='fa-beat-fade' (mouseenter)='playHoverSound();'>
          <fa-icon [icon]='arrowRight'></fa-icon>
        </div>
      </div>
    </div>
    <div id='languages-wrapper'>
      <div (click)='changeLanguage("es")' (mouseenter)='playHoverSound()' #flag_es>
        <img src="assets/img/flags/es.png" class="card-lang-top" alt="...">
      </div>
      <div (click)='changeLanguage("en")' (mouseenter)='playHoverSound()' #flag_en>
        <img src="assets/img/flags/en.png" class="card-lang-top" alt="...">
      </div>
    </div>
  </div>

  <audio #hoverSound src='assets/audio/click_003.ogg'></audio>
</nav>
