.navbar {
  align-items: flex-start;
}

.fixed-top {
  position: fixed;
}

.bg-dark {
  background-color: rgba(0,0,0,0) !important;
}

.navbar-toggler {
  border-color: black;
  > .navbar-toggler-icon {
    --icon-menu: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--icon-menu);
  }
}
