<nav class="navbar fixed-top">
  <div class="container-fluid">
    <img src="assets/img/Logo_Krodun.png" class="card-img-top" alt="...">
      <a *ngIf='isGames()' [routerLink]="home">
        <div [@rotateAnimation]="isOpen ? 'rotated' : 'notRotated'" class='fa-beat-fade'>
          <fa-icon [icon]="homeIcon" (mouseenter)='toggle()'></fa-icon>
        </div>
      </a>
      <a *ngIf='isHome()' [routerLink]="games">
        <div [@rotateAnimation]="isOpen ? 'rotated' : 'notRotated'" class='fa-beat-fade'>
          <fa-icon [icon]="gameIcon" (mouseenter)='toggle()'></fa-icon>
        </div>
      </a>
    <img src="assets/img/Logo_Krodun.png" class="card-img-top" alt="...">
  </div>
</nav>
