.container-fluid {
  > .card-img-top {
    width: 65px;
  }
}

.navbar {
  display: flex;
  align-items: flex-start;
  height: 7%;
  > * {
    height: 100%;
    > * {
      height: 100%;
    }
  }
  > .container-fluid {
    justify-content: space-between;
    #tabs-wrapper {
      display: flex;
      justify-content: center;
      > a {
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
      }
      > div {
        align-self: center;
      }
      > .hidden {
        visibility: hidden;
      }
    }
    #tabs-wrapper-links {
        display: flex;
        justify-content: center;
        width: 25%;
        > a {
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-left: 10px;
          transition: color 0.5s ease, background 0.9s ease;
          &:hover {
            color: white;
            background: radial-gradient(
              circle,
              rgba(50, 20, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            );
            padding: 10px;
            border-radius: 50px;
          }
        }
        > .active {
          color: white;
          background: radial-gradient(
            circle,
            rgba(50, 20, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          );
          padding: 10px;
          border-radius: 50px;
        }
      }
    .tabs-wrapper-right{
      display: flex;
      justify-content: space-between;
      #tabs-wrapper-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      #languages-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 25%;
        > div {
          margin-right: 30%;
        }
        .selected {
          > img {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

.fixed-top {
  position: fixed;
}

.fa-beat-fade {
  color: white;
  &:hover {
    color: #a22b1c;
    //transition: 0.9s;
    //-webkit-transform: rotateZ(720deg);
    //-moz-transform: rotateZ(720deg);
    //transform: rotateZ(720deg);
  }
}

.fa-icon {
  animation: rotateAnimation infinite;
}

.card-lang-top {
  width: 48px;
  height: 48px;
  opacity: 0.3;
  &:hover {
    transform: scale(1.2);
    opacity: 0.6;
    cursor: pointer;
  }
}
